<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Monster Slayer</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@next" defer></script>
    <script src="app.js" defer></script>
  </head>
  <body>
    <header>
      <h1>Monster Slayer</h1>
    </header>
    <div id="game">
      <section id="monster" class="container">
        <h2>Saúde do Monstro</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="monsterHealthBar"></div>
        </div>
      </section>
      <section id="player" class="container">
        <h2>Sua Saúde</h2>
        <div class="healthbar">
          <div class="healthbar__value" :style="playerHealthBar"></div>
        </div>
      </section>
      <section class="container" v-if="winner"> <!-- este container só ira aparecer quando winner deixar de ser null(falsy) e tiver um dos valores abaixo -->
        <h2>Game Over!</h2>
        <h3 v-if="winner === 'monster'">Você perdeu!</h3>
        <h3 v-else-if="winner === 'player'">Você ganhou!</h3>
        <h3 v-else>Empate!</h3>
        <button @click="startGame">Comece um novo jogo!</button>
      </section>
      <section id="controls" v-if="!winner"> <!-- OR just 'v-else' só vai mostrar os controles quando winner nao tiver valor quando nao tivermos um vencedor ainda -->
        <button @click="attackMonster">ATAQUE</button>
        <button :disabled="mayUseSpecialAttack" @click="specialAttackMonster">ATAQUE ESPECIAL</button>
        <button @click="healPlayer">CURA</button>
        <button @click="surrender">RENDER-SE</button>
      </section>
      <section id="log" class="container">
        <h2>Registro de batalha </h2>
        <ul>
          <li v-for="logMessage in logMessages">
            <!-- {{ logMessage.actionBy }} -- {{ logMessage.actionType }} -- {{ logMessage.actionValue }} -->
            <span :class="{'log--player': logMessage.actionBy === 'player', 'log--monster': logMessage.actionBy === 'monster'}">{{ logMessage.actionBy === 'player' ? 'Player' : 'Monster' }}</span>
            <span v-if="logMessage.actionType === 'heal'">se curou <span class="log--heal">{{ logMessage.actionValue }}</span></span>
            <span v-else> ataque e dano <span class="log--damage">{{ logMessage.actionValue }}</span></span>
          </li>
        </ul>
      </section>
    </div>
  </body>
</html>
